body {
  text-align: center;
  background: black;

  #frame {
    .img {
      display: none;
      position: absolute;

      &.main {
        display: inline-block;
      }
    }

    canvas#game {
      width: 696px;
      height: 564px;
      background: black;
    }
  }
}

