$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$btn_size: 100px;
@mixin min {
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
    width: 320px;
    height: auto;
  }
}

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

html {
  -webkit-user-select: none !important;
  -moz-user-select: -moz-none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

body {
  color: white;
  margin: 0;
  text-align: center;
  background: black;

  #frame {
    .img {
      display: none;
      position: absolute;

      &.main {
        display: inline-block;
      }

      @include min {
      }
      @include mobile {
        width: 100%;
        height: auto;
      }
    }

    .btn {
      display: block;
      width: $btn_size;
      height: $btn_size;
      line-height: $btn_size;
      border: 1px solid white;
      box-sizing: border-box;
      font-weight: bolder;
      position: relative;

      &:after {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.6em;
        line-height: $btn_size;
      }

      &.btn_w {
        margin: 0 auto;

        &:after {
          content: "W";
        }
      }

      &.btn_a {
        &:after {
          content: "A";
        }
      }

      &.btn_s {
        &:after {
          content: "S";
        }
      }

      &.btn_d {
        &:after {
          content: "D";
        }
      }

      &.btn_a, &.btn_s, &.btn_d {
        display: inline-block;
      }

      &.active {
        background: white;
        color: black;

        &:after {
          color: black;
        }
      }
    }

    canvas#game {
      width: 696px;
      height: 564px;
      background: black;
      @include min {
      }
      @include mobile {
        width: 100%;
        height: auto;
      }
    }
  }
}

