$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
@mixin min {
  @media (max-width: #{$breakpoint-mobile - 1px}) {
    @content;
    width: 320px;
    height: auto;
  }
}

@mixin mobile {
  @media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$breakpoint-desktop}) {
    @content;
  }
}

body {
  color: white;
  margin: 0;
  text-align: center;
  background: black;

  #frame {
    .img {
      display: none;
      position: absolute;

      &.main {
        display: inline-block;
      }

      @include min {
      }
      @include mobile {
        width: 100%;
        height: auto;
      }
    }

    .btn {
      display: block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      border: 1px solid white;
      box-sizing: border-box;
      font-weight: bolder;

      &.btn_w {
        margin: 0 auto;
      }

      &.btn_a, &.btn_s, &.btn_d {
        display: inline-block;
      }

      &.active {
        background: white;
        color: black;
      }
    }

    canvas#game {
      width: 696px;
      height: 564px;
      background: black;
      @include min {
      }
      @include mobile {
        width: 100%;
        height: auto;
      }
    }
  }
}

